.header {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 60px;
}

.logo-image {
  height: 40px;
  margin: 10px 15px;
}

.fb-image {
  height: 30px;
  padding: 15px 20px;
}
.fb-image:hover {
  transform: scale(1.2);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  font-size: 24px;
  font-family: "Cinzel", serif;
  color: black;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 10px 10px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:first-child {
  border-left: 1px solid #f4f4f4;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 30px 15px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 20px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

/* 48em = 768px @ 16pt font */

@media (min-width: 800px) {
  .header li {
    float: left;
  }
  .header li a {
    font-size: 14px;
    padding: 23px 10px;
  }
  .fb-image {
    height: 30px;
    padding: 15px 20px;
  }
  .header .menu {
    clear: none;
    float: right;
    padding-right: calc(50vw - 600px);
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (min-width: 1200px) {

  .menu {
    
    float: none;
    padding-right: calc(50vw - 600px);
    
  }

  .header li a {
    font-size: 14px;
    padding: 23px 10px;
    
  }

  .logo-image {
    height: 40px;
    margin: 10px 15px;
    padding-left: calc(50vw - 600px);
  }
}
