#offer:before {
  content: "";
  display: block;
  height: 50px;
  margin: -30px 0 0;
}

.offer {
  .frame {
    margin: 30px auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    height: 60px;

    h2 {
      font-family: Cinzel, Times, serif;
      text-align: center;
      font-size: 24px;
      margin: 18px auto;
      align-self: center;
      font-weight: bold;
    }
  }

  .offer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 6vw;
    .offer-item {
      width: 40vw;
      margin-bottom: 6vw;
      img {
        width: 6vw;
        height: 6vw;
        margin: 10px 17vw;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
      }
      h3 {
        font-family: "Cinzel", serif;
        text-align: center;
        font-size: 22px;
        margin: 20px 20px;
        align-self: center;
        line-height: 1.2;
      }
      p {
        text-align: center;
        line-height: 1.2;
        font-size: 14px;
        font-family: "Cinzel", serif;
      }
    }
  }
}

@media (min-width: 1200px) {
  .offer {
  .offer-container {
    margin: 0 0;
    .offer-item {
      width: 35vw;
      max-width: 450px;
      text-align: center;
      
      img {
        display: inline-block;
        width: 6vw;
        height: 6vw;
        max-width: 60px;
        max-height: 60px;
        margin: 10px 0;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
      }
      
    }
  }
}
}
